src/main/resources/wsdls/USImportoerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://skat.dk/dmr/2007/05/31/"
                  xmlns:pfx0="http://skat.dk/dmr/2007/05/31/"
                  xmlns:pfx1="http://docs.oasis-open.org/wsrf/rp-2"
                  xmlns:pfx2="http://www.w3.org/2005/08/addressing"
                  xmlns:pfx3="http://schemas.xmlsoap.org/soap/http"
                  xmlns:pfx4="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:pfx5="http://rep.oio.dk/skat.dk/basis/kontekst/xml/schemas/2006/09/01/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USKoeretoejTypeAttestOpretInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USKoeretoejUdstyrTypeListeHentInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USTilladelseTypeListeHentInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USDispensationTypeListeHentInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USDrivkraftTypeListeHentInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USKarrosseriTypeListeHentInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USKoeretoejAnvendelseListeHentInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USKoeretoejArtAnvendelseListeHentInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USKoeretoejArtListeHentInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USKoeretoejBetegnelseHierarkiListeHentInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USKoeretoejBetegnelseOpretInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USKoeretoejCoCOpretInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USKoeretoejErklaeringOpretInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USKoeretoejOprettelseAnnullerInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USNormTypeListeHentInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USSupplerendeKarrosseriTypeListeHentInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USKoeretoejTekniskDataHentInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USFarveTypeListeHentInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USKoeretoejRegistreringHentInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USUkompletKoeretoejOpretInterface.xsd"/>
    </xsd:schema>
    <xsd:schema targetNamespace="http://skat.dk/dmr/2007/05/31/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="USKoeretoejBlokeringAArsagTypeListeHentInterface.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <!--<wsdl:message name="USKoeretoejUdstyrTypeListeHentServiceRequest">
    <wsdl:part element="pfx0:USKoeretoejUdstyrTypeListeHent_I" name="Request"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejErklaeringOpretServiceResponse">
    <wsdl:part element="pfx0:USKoeretoejErklaeringOpret_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USSupplerendeKarrosseriTypeListeHentServiceRequest">
    <wsdl:part element="pfx0:USSupplerendeKarrosseriTypeListeHent_I" name="Request"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejCoCOpretServiceResponse">
    <wsdl:part element="pfx0:USKoeretoejCoCOpret_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USTilladelseTypeListeHentServiceRequest">
    <wsdl:part element="pfx0:USTilladelseTypeListeHent_I" name="Request"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejBetegnelseHierarkiListeHentServiceRequest">
    <wsdl:part
            element="pfx0:USKoeretoejBetegnelseHierarkiListeHent_I" name="Request"/>
  </wsdl:message>
  <wsdl:message name="USDispensationTypeListeHentServiceRequest">
    <wsdl:part element="pfx0:USDispensationTypeListeHent_I" name="Request"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejBlokeringAarsagTypeListeHentServiceRequest">
    <wsdl:part
            element="pfx0:USKoeretoejBlokeringAarsagTypeListeHent_I" name="Request"/>
  </wsdl:message>-->
  <wsdl:message name="USKoeretoejTypeAttestOpretServiceResponse">
    <wsdl:part element="pfx0:USKoeretoejTypeAttestOpret_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejTypeAttestOpretServiceRequest">
    <wsdl:part element="pfx0:USKoeretoejTypeAttestOpret_I" name="Request"/>
  </wsdl:message>
  <!--<wsdl:message name="USKoeretoejUdstyrTypeListeHentServiceResponse">
    <wsdl:part element="pfx0:USKoeretoejUdstyrTypeListeHent_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejTekniskDataHentServiceResponse">
    <wsdl:part element="pfx0:USKoeretoejTekniskDataHent_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USFarveTypeListeHentServiceRequest">
    <wsdl:part element="pfx0:USFarveTypeListeHent_I" name="Request"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejErklaeringOpretServiceRequest">
    <wsdl:part element="pfx0:USKoeretoejErklaeringOpret_I" name="Request"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejBetegnelseHierarkiListeHentServiceResponse">
    <wsdl:part
            element="pfx0:USKoeretoejBetegnelseHierarkiListeHent_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejOprettelseAnnullerServiceRequest">
    <wsdl:part element="pfx0:USKoeretoejOprettelseAnnuller_I" name="Request"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejArtAnvendelseListeHentServiceRequest">
    <wsdl:part element="pfx0:USKoeretoejArtAnvendelseListeHent_I" name="Request"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejBetegnelseOpretServiceResponse">
    <wsdl:part element="pfx0:USKoeretoejBetegnelseOpret_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USNormTypeListeHentServiceResponse">
    <wsdl:part element="pfx0:USNormTypeListeHent_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USDrivkraftTypeListeHentServiceResponse">
    <wsdl:part element="pfx0:USDrivkraftTypeListeHent_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejBlokeringAarsagTypeListeHentServiceResponse">
    <wsdl:part
            element="pfx0:USKoeretoejBlokeringAarsagTypeListeHent_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USUkompletKoeretoejOpretServiceResponse">
    <wsdl:part element="pfx0:USUkompletKoeretoejOpret_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejTekniskDataHentServiceRequest">
    <wsdl:part element="pfx0:USKoeretoejTekniskDataHent_I" name="Request"/>
  </wsdl:message>
  <wsdl:message name="USKarrosseriTypeListeHentServiceResponse">
    <wsdl:part element="pfx0:USKarrosseriTypeListeHent_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejAnvendelseListeHentServiceResponse">
    <wsdl:part element="pfx0:USKoeretoejAnvendelseListeHent_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejAnvendelseListeHentServiceRequest">
    <wsdl:part element="pfx0:USKoeretoejAnvendelseListeHent_I" name="Request"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejOprettelseAnnullerServiceResponse">
    <wsdl:part element="pfx0:USKoeretoejOprettelseAnnuller_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USFarveTypeListeHentServiceResponse">
    <wsdl:part element="pfx0:USFarveTypeListeHent_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USSupplerendeKarrosseriTypeListeHentServiceResponse">
    <wsdl:part element="pfx0:USSupplerendeKarrosseriTypeListeHent_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejArtListeHentServiceRequest">
    <wsdl:part element="pfx0:USKoeretoejArtListeHent_I" name="Request"/>
  </wsdl:message>-->
  <wsdl:message name="USKoeretoejRegistreringHentServiceRequest">
    <wsdl:part element="pfx0:USKoeretoejRegistreringHent_I" name="Request"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejRegistreringHentServiceResponse">
    <wsdl:part element="pfx0:USKoeretoejRegistreringHent_O" name="Response"/>
  </wsdl:message>
  <!--<wsdl:message name="USDispensationTypeListeHentServiceResponse">
    <wsdl:part element="pfx0:USDispensationTypeListeHent_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejArtAnvendelseListeHentServiceResponse">
    <wsdl:part element="pfx0:USKoeretoejArtAnvendelseListeHent_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USTilladelseTypeListeHentServiceResponse">
    <wsdl:part element="pfx0:USTilladelseTypeListeHent_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USNormTypeListeHentServiceRequest">
    <wsdl:part element="pfx0:USNormTypeListeHent_I" name="Request"/>
  </wsdl:message>
  <wsdl:message name="USKarrosseriTypeListeHentServiceRequest">
    <wsdl:part element="pfx0:USKarrosseriTypeListeHent_I" name="Request"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejBetegnelseOpretServiceRequest">
    <wsdl:part element="pfx0:USKoeretoejBetegnelseOpret_I" name="Request"/>
  </wsdl:message>
  <wsdl:message name="USDrivkraftTypeListeHentServiceRequest">
    <wsdl:part element="pfx0:USDrivkraftTypeListeHent_I" name="Request"/>
  </wsdl:message>
  <wsdl:message name="USUkompletKoeretoejOpretServiceRequest">
    <wsdl:part element="pfx0:USUkompletKoeretoejOpret_I" name="Request"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejArtListeHentServiceResponse">
    <wsdl:part element="pfx0:USKoeretoejArtListeHent_O" name="Response"/>
  </wsdl:message>
  <wsdl:message name="USKoeretoejCoCOpretServiceRequest">
    <wsdl:part element="pfx0:USKoeretoejCoCOpret_I" name="Request"/>
  </wsdl:message>-->
  <wsdl:message name="KompenserTransRequest">
    <wsdl:part element="pfx0:KompenserTrans" name="Request"/>
  </wsdl:message>
  <wsdl:message name="KompenserTransResponse">
    <wsdl:part element="pfx0:KompenserTransSvar" name="Response"/>
  </wsdl:message>
  <wsdl:portType name="USImportoerServiceType" pfx1:ResourceProperties="pfx0:ResourceProperties">
    <wsdl:operation name="getUSKoeretoejTypeAttestOpret">
      <wsdl:input message="pfx0:USKoeretoejTypeAttestOpretServiceRequest"/>
      <wsdl:output message="pfx0:USKoeretoejTypeAttestOpretServiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getKompenserTrans">
      <wsdl:input message="pfx0:KompenserTransRequest"/>
      <wsdl:output message="pfx0:KompenserTransResponse"/>
    </wsdl:operation>
    <!--<wsdl:operation name="getUSKoeretoejUdstyrTypeListeHent">
      <wsdl:input message="pfx0:USKoeretoejUdstyrTypeListeHentServiceRequest"/>
      <wsdl:output message="pfx0:USKoeretoejUdstyrTypeListeHentServiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUSTilladelseTypeListeHent">
      <wsdl:input message="pfx0:USTilladelseTypeListeHentServiceRequest"/>
      <wsdl:output message="pfx0:USTilladelseTypeListeHentServiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUSDispensationTypeListeHent">
      <wsdl:input message="pfx0:USDispensationTypeListeHentServiceRequest"/>
      <wsdl:output message="pfx0:USDispensationTypeListeHentServiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUSDrivkraftTypeListeHent">
      <wsdl:input message="pfx0:USDrivkraftTypeListeHentServiceRequest"/>
      <wsdl:output message="pfx0:USDrivkraftTypeListeHentServiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUSKarrosseriTypeListeHent">
      <wsdl:input message="pfx0:USKarrosseriTypeListeHentServiceRequest"/>
      <wsdl:output message="pfx0:USKarrosseriTypeListeHentServiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejAnvendelseListeHent">
      <wsdl:input message="pfx0:USKoeretoejAnvendelseListeHentServiceRequest"/>
      <wsdl:output message="pfx0:USKoeretoejAnvendelseListeHentServiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejArtAnvendelseListeHent">
      <wsdl:input message="pfx0:USKoeretoejArtAnvendelseListeHentServiceRequest"/>
      <wsdl:output message="pfx0:USKoeretoejArtAnvendelseListeHentServiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejArtListeHent">
      <wsdl:input message="pfx0:USKoeretoejArtListeHentServiceRequest"/>
      <wsdl:output message="pfx0:USKoeretoejArtListeHentServiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejBetegnelseHierarkiListeHent">
      <wsdl:input message="pfx0:USKoeretoejBetegnelseHierarkiListeHentServiceRequest"/>
      <wsdl:output message="pfx0:USKoeretoejBetegnelseHierarkiListeHentServiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejBetegnelseOpret">
      <wsdl:input message="pfx0:USKoeretoejBetegnelseOpretServiceRequest"/>
      <wsdl:output message="pfx0:USKoeretoejBetegnelseOpretServiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejCoCOpret">
      <wsdl:input message="pfx0:USKoeretoejCoCOpretServiceRequest"/>
      <wsdl:output message="pfx0:USKoeretoejCoCOpretServiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejErklaeringOpret">
      <wsdl:input message="pfx0:USKoeretoejErklaeringOpretServiceRequest"/>
      <wsdl:output message="pfx0:USKoeretoejErklaeringOpretServiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejOprettelseAnnuller">
      <wsdl:input message="pfx0:USKoeretoejOprettelseAnnullerServiceRequest"/>
      <wsdl:output message="pfx0:USKoeretoejOprettelseAnnullerServiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUSNormTypeListeHent">
      <wsdl:input message="pfx0:USNormTypeListeHentServiceRequest"/>
      <wsdl:output message="pfx0:USNormTypeListeHentServiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUSSupplerendeKarrosseriTypeListeHent">
      <wsdl:input message="pfx0:USSupplerendeKarrosseriTypeListeHentServiceRequest"/>
      <wsdl:output message="pfx0:USSupplerendeKarrosseriTypeListeHentServiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejTekniskDataHent">
      <wsdl:input message="pfx0:USKoeretoejTekniskDataHentServiceRequest"/>
      <wsdl:output message="pfx0:USKoeretoejTekniskDataHentServiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUSFarveTypeListeHent">
      <wsdl:input message="pfx0:USFarveTypeListeHentServiceRequest"/>
      <wsdl:output message="pfx0:USFarveTypeListeHentServiceResponse"/>
    </wsdl:operation>-->
    <wsdl:operation name="getUSKoeretoejRegistreringHent">
      <wsdl:input message="pfx0:USKoeretoejRegistreringHentServiceRequest"/>
      <wsdl:output message="pfx0:USKoeretoejRegistreringHentServiceResponse"/>
    </wsdl:operation>
    <!--<wsdl:operation name="getUSUkompletKoeretoejOpret">
      <wsdl:input message="pfx0:USUkompletKoeretoejOpretServiceRequest"/>
      <wsdl:output message="pfx0:USUkompletKoeretoejOpretServiceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejBlokeringAarsagTypeListeHent">
      <wsdl:input message="pfx0:USKoeretoejBlokeringAarsagTypeListeHentServiceRequest"/>
      <wsdl:output message="pfx0:USKoeretoejBlokeringAarsagTypeListeHentServiceResponse"/>
    </wsdl:operation>-->
  </wsdl:portType>
  <wsdl:binding name="Binding" type="pfx0:USImportoerServiceType">
    <pfx4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUSKoeretoejTypeAttestOpret">
      <pfx4:operation soapAction="getUSKoeretoejTypeAttestOpret"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKompenserTrans">
      <pfx4:operation soapAction="getKompenserTrans"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!--<wsdl:operation name="getUSKoeretoejUdstyrTypeListeHent">
      <pfx4:operation soapAction="getUSKoeretoejUdstyrTypeListeHent"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSTilladelseTypeListeHent">
      <pfx4:operation soapAction="getUSTilladelseTypeListeHent"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSDispensationTypeListeHent">
      <pfx4:operation soapAction="getUSDispensationTypeListeHent"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSDrivkraftTypeListeHent">
      <pfx4:operation soapAction="getUSDrivkraftTypeListeHent"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSKarrosseriTypeListeHent">
      <pfx4:operation soapAction="getUSKarrosseriTypeListeHent"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejAnvendelseListeHent">
      <pfx4:operation soapAction="getUSKoeretoejAnvendelseListeHent"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejArtAnvendelseListeHent">
      <pfx4:operation soapAction="getUSKoeretoejArtAnvendelseListeHent"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejArtListeHent">
      <pfx4:operation soapAction="getUSKoeretoejArtListeHent"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejBetegnelseHierarkiListeHent">
      <pfx4:operation soapAction="getUSKoeretoejBetegnelseHierarkiListeHent"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejBetegnelseOpret">
      <pfx4:operation soapAction="getUSKoeretoejBetegnelseOpret"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejCoCOpret">
      <pfx4:operation soapAction="getUSKoeretoejCoCOpret"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejErklaeringOpret">
      <pfx4:operation soapAction="getUSKoeretoejErklaeringOpret"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejOprettelseAnnuller">
      <pfx4:operation soapAction="getUSKoeretoejOprettelseAnnuller"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSNormTypeListeHent">
      <pfx4:operation soapAction="getUSNormTypeListeHent"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSSupplerendeKarrosseriTypeListeHent">
      <pfx4:operation soapAction="getUSSupplerendeKarrosseriTypeListeHent"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejTekniskDataHent">
      <pfx4:operation soapAction="getUSKoeretoejTekniskDataHent"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSFarveTypeListeHent">
      <pfx4:operation soapAction="getUSFarveTypeListeHent"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>-->
    <wsdl:operation name="getUSKoeretoejRegistreringHent">
      <pfx4:operation soapAction="getUSKoeretoejRegistreringHent"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!--<wsdl:operation name="getUSUkompletKoeretoejOpret">
      <pfx4:operation soapAction="getUSUkompletKoeretoejOpret"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUSKoeretoejBlokeringAarsagTypeListeHent">
      <pfx4:operation soapAction="getUSKoeretoejBlokeringAarsagTypeListeHent"/>
      <wsdl:input>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <pfx4:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>-->
  </wsdl:binding>
  <wsdl:service name="USImportoerService">
    <wsdl:port binding="pfx0:Binding" name="Port">
      <pfx4:address location="http://localhost:9001/USImportoerService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
